# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: CI
#on: [push, pull_request]
on:
  push:
    branches:
      - main
  pull_request:
    # Sequence of patterns matched against refs/heads
    branches:    
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v4
        
        
        - name: Install Node
          uses: actions/setup-node@v4
          with:
            node-version: 18
        - name:  install dependencies
          run: npm install
      
          
          
        - name: Test
          run: npm run wdio
          continue-on-error: true
        - uses: actions/upload-artifact@v3
          with:
            name: allureReport
            path: ./reports/allure/allure-report
